# Naive bayes classifier

### Strength
1. Simple and fast in calculation but yet effective in result
2. in situation where there are noisy and missing data it perform well
3. Works equally well of data is present for training as well as on very large training data
4. Easy and straightforward way to obtained the estimated probablity or prediction

### Weakness
1. The basic assumption of equal importance and independence often does not hold true
2. if the target contain the large number of numeric feature than the relaibility of the outcome become limited
3. though the predicted calss have a high reliability estimated probablity have relatively lower reliability

## Application and Domain

1. Text calssification
2. spam filtering 
3. Hybrid recomended system
4. Online sentiment analysis
5. computational biology
6. bioinformatics 
7. medicine 
8. forensic 
9. docoment classification
10. image processing 
11. decision support system
12. gaming
13.

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.naive_bayes import GaussianNB

In [2]:
data = pd.read_csv('apndcts.csv')
data

       At1    At2    At3    At4    At5    At6    At7  class
0    0.213  0.554  0.207  0.000  0.000  0.749  0.220      1
1    0.458  0.714  0.468  0.111  0.102  0.741  0.436      1
2    0.102  0.518  0.111  0.056  0.022  0.506  0.086      1
3    0.187  0.196  0.105  0.056  0.029  0.133  0.085      1
4    0.236  0.804  0.289  0.111  0.066  0.756  0.241      1
..     ...    ...    ...    ...    ...    ...    ...    ...
101  0.449  0.875  0.523  0.083  0.076  0.920  0.487      0
102  0.102  0.000  0.022  0.000  0.000  0.000  0.017      0
103  0.409  0.875  0.482  0.306  0.259  0.914  0.443      0
104  0.427  0.804  0.474  0.056  0.048  0.836  0.437      0
105  0.462  0.911  0.551  0.167  0.154  0.931  0.500      0

[106 rows x 8 columns]

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 106 entries, 0 to 105
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   At1     106 non-null    float64
 1    At2    106 non-null    float64
 2    At3    106 non-null    float64
 3    At4    106 non-null    float64
 4    At5    106 non-null    float64
 5    At6    106 non-null    float64
 6    At7    106 non-null    float64
 7   class   106 non-null    int64
dtypes: float64(7), int64(1)
memory usage: 6.8 KB

In [4]:
data.describe()

,At1,At2,At3,At4,At5,At6,At7,class
count,106.000000,106.000000,106.000000,106.000000,106.000000,106.000000,106.000000,106.000000
mean,0.398491,0.682104,0.415151,0.208745,0.169151,0.676349,0.375396,0.198113
std,0.191452,0.207134,0.205799,0.199650,0.177329,0.218909,0.198132,0.400471
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.244750,0.589000,0.277000,0.056000,0.049250,0.576000,0.238000,0.000000
50%,0.413000,0.750000,0.442500,0.146000,0.113000,0.744000,0.397500,0.000000
75%,0.505750,0.821000,0.545500,0.302500,0.226750,0.831250,0.486750,0.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [5]:
predictors = data.iloc[:,0:7] # segregating the predictor
target = data.iloc[:,7] # segregating the target/class

In [6]:
predictors_train,predictors_test,target_train,target_test =train_test_split(predictors,
target,test_size=0.3,random_state=123)

In [7]:
predictors_train

       At1    At2    At3    At4    At5    At6    At7
21   0.391  0.893  0.471  0.306  0.251  0.922  0.428
77   0.622  0.750  0.635  0.264  0.306  0.787  0.601
35   0.271  0.857  0.338  0.292  0.189  0.778  0.278
71   0.427  0.589  0.393  0.181  0.158  0.754  0.412
65   0.511  0.786  0.547  0.139  0.138  0.741  0.483
..     ...    ...    ...    ...    ...    ...    ...
17   0.378  0.732  0.402  0.278  0.223  0.687  0.350
102  0.102  0.000  0.022  0.000  0.000  0.000  0.017
98   0.400  0.589  0.371  0.514  0.429  0.716  0.377
92   0.471  0.679  0.466  0.208  0.196  0.556  0.388
66   0.396  0.911  0.482  0.111  0.092  0.754  0.384

[74 rows x 7 columns]

In [9]:
predictors_test
predictors_test.shape

(32, 7)

In [10]:
target_train

21     0
77     0
35     0
71     0
65     0
      ..
17     1
102    0
98     0
92     0
66     0
Name: class, Length: 74, dtype: int64

In [11]:
gnb = GaussianNB()

In [12]:
# first train model / classifier with input dataset(training data part)
model = gnb.fit(predictors_train,target_train)

In [13]:
model

GaussianNB()

In [14]:
# make the prediction using the trained model
prediction = model.predict(predictors_test)

In [15]:
prediction

array([0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 1, 0, 0, 0, 0, 1, 0, 0], dtype=int64)

In [16]:
accuracy_score(target_test,prediction,normalize=True)

0.90625